In [23]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 668.8 kB/s eta 0:00:001m878.3 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kar-sth/miniconda3/lib/python3.11/site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/kar-sth/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 13.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 14.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 10.2 MB/s eta 0:00:00m eta 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 10.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [2]:
import os
import pandas as pd
import json

In [21]:
final_val = []
for file_name in os.listdir("json/"):
    temp_dict = {}
    temp = {}
    file_path = os.path.join("json", file_name)
    with open(file_path, "r") as file:
        json_data = json.load(file)
    temp_dict["file_name"] = file_name
    for info in json_data["words"]:
        temp_dict[info["label"]] = info["value"]
    final_val.append(temp_dict)
final_val

{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}

[{'file_name': '20c0ba7c-31301010000464_66510330.json',
  'Payee:0': 'Fashion furnishing pvt ltd',
  'Sum:1': 'Sixty four thousand and two hundred',
  'Sum:2': 'only',
  'Account_number:3': '313010000464',
  'MICR:4': '00665103301901',
  'Amount:5': '64200',
  'Date:6': '31042080',
  'Ac_Payee:7': 'A/C Payee',
  'Signature_1:8': '',
  '': ''},
 {'file_name': '10b71d03-1507010001197_62445613.json',
  'Payee:0': 'Imtiyaz Ansari',
  'Sum:1': 'Fifty thousand only',
  'Account_number:2': '01507010001197',
  'MICR:3': '00624456131901',
  'Amount:4': '50000',
  'Date:5': '15042080',
  '': ''},
 {'file_name': '9e243b4b-10407010032878_57458430.json',
  'Payee:0': 'Milky way Share broker company ltd',
  'Sum:1': 'Five lakh only',
  'Account_number:2': '10407010032878',
  'MICR:3': '00574584301901',
  'Amount:4': '500000',
  'Date:5': '12042080',
  '': 'A/C Payee'},
 {'file_name': '16d0f75c-8001010006883_65749761.json',
  'Payee:0': 'USTAV PRADHAN',
  'Sum:1': 'Sixty Thousand Only',
  'Account_number:2': '08001010006883',
  'MICR:3': '00657497611901',
  'Amount:4': '60000.000',
  'Date:5': '16082023',
  'Ac_Payee:6': 'AC/Payee',
  'Signature_1:7': '',
  '': ''},
 {'file_name': '9a7a4ed6-29907010000039_49755285.json',
  'Payee:0': 'Krishna Kumar Nepali',
  'Sum:1': 'One Lakh only',
  'Account_number:2': '29907010000039',
  'MICR:3': '00497552851901',
  'Amount:4': '100000',
  '': '28022080'},
 {'file_name': '19d5e069-14801010004077_63429092.json',
  'Payee:0': 'Maya Joshi',
  'Sum:1': 'Ninteen thousand five hundred only',
  'Account_number:2': '148010004077',
  'MICR:3': '00634290921901',
  'Amount:4': '19500',
  '': ''},
 {'file_name': '17edf8de-1807010004281_67608622.json',
  'Payee:0': 'Rajendra prasad sapkota',
  'Sum:1': 'Four Lakh Only',
  'Account_number:2': '01807010004281',
  'MICR:3': '00676086221901',
  'Amount:4': '400000',
  'Date:5': '31042080',
  'Signature_1:6': '',
  '': ''},
 {'file_name': '9cc87ec2-95600050714524_55244825.json',
  'Payee:0': 'Ram Chandra Baral',
  'Sum:1': 'Thirty Two Thousand only',
  'Account_number:2': '07707010095284',
  'Amount:3': '32000',
  'MICR:4': '00625047961901',
  '': '30042080'},
 {'file_name': '12f38752-28901010000020_50334978.json',
  'Payee:0': 'MIM BAHADUR BANIYA',
  'Sum:1': 'Forty Thousand only',
  'Account_number:2': '28901010000020',
  'MICR:3': '00503349781901',
  'Amount:4': '40,000.00',
  'Date:5': '08082023',
  'Ac_Payee:6': 'AC/Payee',
  '': ''},
 {'file_name': '12e5967d-10901010001472_63191561.json',
  'Payee:0': 'subedi clearing sewa',
  'Sum:1': 'Twenty seven lakh only',
  'Account_number:2': '10901010001472',
  'MICR:3': '006311915611901',
  'Amount:4': '2700000',
  '': '16082023'},
 {'file_name': '20e5e6ff-32101010000639_64965299.json',
  'Payee:0': 'Runa Gurung',
  'Sum:1': 'Eighty Thousand one Hundred Forty Eight Only',
  'Account_number:2': '321010000639',
  'MICR:3': '00649652991901',
  'Amount:4': '80148',
  'Date:5': '01082023',
  '': ''},
 {'file_name': '9eeaa282-607010003006_62148721.json',
  '0': 'LIC Nepal Ltd.',
  '1': 'Fifteen lakh only',
  '2': '00607010003006',
  '3': '00621487211901',
  '4': '150000016082023',
  '': ''},
 {'file_name': '9e39a543-31408010000044_62297312.json',
  'Payee:0': 'Pooja Hamal',
  'Sum:1': 'Thirty Eight thousand rupees only',
  'Account_number:2': '31408010000044',
  'Amount:3': '38000',
  'MICR:4': '00622973121901',
  '': '30042080'},
 {'file_name': '013a227c-29107010025258_64569112.json',
  '0': 'LIC (NEPAL) LTD',
  '1': 'Six Lakh Forty Eight Thousand NIne',
  '2': 'Hundred Only',
  '3': '29107010025259',
  '4': '00645691121901',
  '5': '648900',
  '6': 'A/C Payee',
  '': ''},
 {'file_name': '16d59be1-1801010012989_61507919.json',
  'Payee:0': 'Chitwon Tractor Parts',
  'Sum:1': 'One thousand three hundred fifty',
  'Sum:2': 'six only',
  'Account_number:3': '01801010012989',
  'MICR:4': '00615079191901',
  'Amount:5': '1356',
  'Date:6': '28042080',
  'Ac_Payee:7': 'A/C Payee Only',
  'None:8': '',
  '': ''},
 {'file_name': '9eeaca82-30107010009908_65792115.json',
  'Payee:0': 'LIC(Nepal) ltd',
  'Sum:1': 'twenty six thousand five',
  'Sum:2': 'hundred only',
  'Account_number:3': '30107010009908',
  'MICR:4': '00657921151901',
  'Amount:5': '26500',
  'Date:6': '31042080',
  'Ac_Payee:7': 'A/c payee',
  '': ''},
 {'file_name': '10f50f37-8001010006883_65749761.json',
  'Payee:0': 'UTSAV PRADHAN',
  'Sum:1': 'sixty Thousand only',
  'Account_number:2': '08001010006883',
  'MICR:3': '00657497611901',
  'Amount:4': '60,000.00',
  'Date:5': '16082023',
  'Ac_Payee:6': 'AC/Payee',
  '': ''}]

In [17]:
final_val

[{'file_name': '20c0ba7c-31301010000464_66510330.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Fashion furnishing pvt ltd',
    'Sum:1': 'Sixty four thousand and two hundred',
    'Sum:2': 'only',
    'Account_number:3': '313010000464',
    'MICR:4': '00665103301901',
    'Amount:5': '64200',
    'Date:6': '31042080',
    'Ac_Payee:7': 'A/C Payee',
    'Signature_1:8': '',
    '': ''}}},
 {'file_name': '10b71d03-1507010001197_62445613.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Imtiyaz Ansari',
    'Sum:1': 'Fifty thousand only',
    'Account_number:2': '01507010001197',
    'MICR:3': '00624456131901',
    'Amount:4': '50000',
    'Date:5': '15042080',
    '': ''}}},
 {'file_name': '9e243b4b-10407010032878_57458430.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Milky way Share broker company ltd',
    'Sum:1': 'Five lakh only',
    'Account_number:2': '10407010032878',
    'MICR:3': '00574584301901',
    'Amount:4': '500000',
    'Date:5': '12042080',
    '': 'A/C Payee'}}},
 {'file_name': '16d0f75c-8001010006883_65749761.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'USTAV PRADHAN',
    'Sum:1': 'Sixty Thousand Only',
    'Account_number:2': '08001010006883',
    'MICR:3': '00657497611901',
    'Amount:4': '60000.000',
    'Date:5': '16082023',
    'Ac_Payee:6': 'AC/Payee',
    'Signature_1:7': '',
    '': ''}}},
 {'file_name': '9a7a4ed6-29907010000039_49755285.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Krishna Kumar Nepali',
    'Sum:1': 'One Lakh only',
    'Account_number:2': '29907010000039',
    'MICR:3': '00497552851901',
    'Amount:4': '100000',
    '': '28022080'}}},
 {'file_name': '19d5e069-14801010004077_63429092.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Maya Joshi',
    'Sum:1': 'Ninteen thousand five hundred only',
    'Account_number:2': '148010004077',
    'MICR:3': '00634290921901',
    'Amount:4': '19500',
    '': ''}}},
 {'file_name': '17edf8de-1807010004281_67608622.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Rajendra prasad sapkota',
    'Sum:1': 'Four Lakh Only',
    'Account_number:2': '01807010004281',
    'MICR:3': '00676086221901',
    'Amount:4': '400000',
    'Date:5': '31042080',
    'Signature_1:6': '',
    '': ''}}},
 {'file_name': '9cc87ec2-95600050714524_55244825.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Ram Chandra Baral',
    'Sum:1': 'Thirty Two Thousand only',
    'Account_number:2': '07707010095284',
    'Amount:3': '32000',
    'MICR:4': '00625047961901',
    '': '30042080'}}},
 {'file_name': '12f38752-28901010000020_50334978.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'MIM BAHADUR BANIYA',
    'Sum:1': 'Forty Thousand only',
    'Account_number:2': '28901010000020',
    'MICR:3': '00503349781901',
    'Amount:4': '40,000.00',
    'Date:5': '08082023',
    'Ac_Payee:6': 'AC/Payee',
    '': ''}}},
 {'file_name': '12e5967d-10901010001472_63191561.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'subedi clearing sewa',
    'Sum:1': 'Twenty seven lakh only',
    'Account_number:2': '10901010001472',
    'MICR:3': '006311915611901',
    'Amount:4': '2700000',
    '': '16082023'}}},
 {'file_name': '20e5e6ff-32101010000639_64965299.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Runa Gurung',
    'Sum:1': 'Eighty Thousand one Hundred Forty Eight Only',
    'Account_number:2': '321010000639',
    'MICR:3': '00649652991901',
    'Amount:4': '80148',
    'Date:5': '01082023',
    '': ''}}},
 {'file_name': '9eeaa282-607010003006_62148721.json',
  'ground_truth': {'gt_parse': {'0': 'LIC Nepal Ltd.',
    '1': 'Fifteen lakh only',
    '2': '00607010003006',
    '3': '00621487211901',
    '4': '150000016082023',
    '': ''}}},
 {'file_name': '9e39a543-31408010000044_62297312.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Pooja Hamal',
    'Sum:1': 'Thirty Eight thousand rupees only',
    'Account_number:2': '31408010000044',
    'Amount:3': '38000',
    'MICR:4': '00622973121901',
    '': '30042080'}}},
 {'file_name': '013a227c-29107010025258_64569112.json',
  'ground_truth': {'gt_parse': {'0': 'LIC (NEPAL) LTD',
    '1': 'Six Lakh Forty Eight Thousand NIne',
    '2': 'Hundred Only',
    '3': '29107010025259',
    '4': '00645691121901',
    '5': '648900',
    '6': 'A/C Payee',
    '': ''}}},
 {'file_name': '16d59be1-1801010012989_61507919.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'Chitwon Tractor Parts',
    'Sum:1': 'One thousand three hundred fifty',
    'Sum:2': 'six only',
    'Account_number:3': '01801010012989',
    'MICR:4': '00615079191901',
    'Amount:5': '1356',
    'Date:6': '28042080',
    'Ac_Payee:7': 'A/C Payee Only',
    'None:8': '',
    '': ''}}},
 {'file_name': '9eeaca82-30107010009908_65792115.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'LIC(Nepal) ltd',
    'Sum:1': 'twenty six thousand five',
    'Sum:2': 'hundred only',
    'Account_number:3': '30107010009908',
    'MICR:4': '00657921151901',
    'Amount:5': '26500',
    'Date:6': '31042080',
    'Ac_Payee:7': 'A/c payee',
    '': ''}}},
 {'file_name': '10f50f37-8001010006883_65749761.json',
  'ground_truth': {'gt_parse': {'Payee:0': 'UTSAV PRADHAN',
    'Sum:1': 'sixty Thousand only',
    'Account_number:2': '08001010006883',
    'MICR:3': '00657497611901',
    'Amount:4': '60,000.00',
    'Date:5': '16082023',
    'Ac_Payee:6': 'AC/Payee',
    '': ''}}}]

In [25]:
df = pd.DataFrame(final_val)

In [42]:
import json
import os
import shutil
from tqdm import tqdm
import pandas as pd
from io import StringIO


def create_sets(df, train=0.7, val=0.2, test=0.1):
    """
    train, val and test are the proportions of the images
    that go in each split.
    """
    if round(train + val + test, 1) != 1:
        print(train + val + test)
        raise ValueError("train + val + test != 1")

    # Create the folders
    train_folder = "data/train"
    val_folder = "data/val"
    test_folder = "data/test"
    os.makedirs(train_folder, exist_ok=True)
    os.makedirs(val_folder, exist_ok=True)
    os.makedirs(test_folder, exist_ok=True)

    # Shuffle your data
    samples = df.sample(frac=1.).reset_index(drop=True)
    print(samples)

    # Compute the number of image for each split
    n = len(samples)
    n_train = train * n
    n_val = val * n
    n_test = test * n

    for idx, row in tqdm(samples.iterrows(), total=samples.shape[0]):
        data = {
            "date": row["date"],
            "payee": row["payee"],
            "sum": row["sum"],
            "amount": row["amount"],
            "account_number": row["account_number"],
            "micr": row["micr"],
            "A/C_Payee": row["A/C Payee"]
        }
        file_name = row["image"]

        gt_parse = {"gt_parse": {
            "cheque_details": [data]
            }
        }
        
        line = {
            "file_name": file_name,
            "ground_truth": json.dumps(gt_parse)
        }
        
        # We assume that your images are in
        # a folder named "images/"; correct if necessary
        image_path = os.path.join("images", file_name)

        # Copy the image in one of the folders
        # and append a line to metadata.jsonl
        if idx < n_train:
            dest_path = os.path.join("data/train/", file_name)
            shutil.copyfile(image_path, dest_path)
            with open("data/train/metadata.jsonl", "a") as f:
                f.write(json.dumps(line) + "\n")

        elif n_train <= idx < n_train + n_val:
            dest_path = os.path.join("data/val/", file_name)
            shutil.copyfile(image_path, dest_path)
            with open("data/val/metadata.jsonl", "a") as f:
                f.write(json.dumps(line) + "\n")

        elif n_train + n_val <= idx < n_train + n_val + n_test:
            dest_path = os.path.join("data/test/", file_name)
            shutil.copyfile(image_path, dest_path)
            with open("data/test/metadata.jsonl", "a") as f:
                f.write(json.dumps(line) + "\n")

In [34]:
df_data = pd.read_csv("annotations.csv", index_col=False, na_values=['',' '], quotechar='"', dtype={'date':str,'account_number': str, 'image': int}, delimiter=",")

In [35]:

df_data["image"] = df_data.apply(lambda x:  (f"{int(x['image'])}.jpg"), axis=1)

In [36]:
df_data

,image,date,payee,sum,amount,account_number,micr,A/C Payee
0,0.jpg,31042080,Sujan Koirala,Rs Sixty Thousand Only,60000/-,30207010015375,0067543248,A/C Payee
1,1.jpg,16082023,Himanshu International,One lakh Only-,100000/-,31301010000457,0066513577,A/C Payee
2,2.jpg,13012080,Goyal Hardware,Two lakh Seventy thousand Five hundred Eighty ...,270588.65/-,26801010001854,0058793905,A/C Payee
3,3.jpg,32042080,Aerozone Pvt. Ltd.,one lakh eighty thousand seven hundred fifty o...,180751/-,35301010000029,0066512882,A/C Payee
4,4.jpg,15082023,Shyam Lal Chaudhary,Six Thousand only,6000-,31701010000217,0063311147,A/C Payee
...,...,...,...,...,...,...,...,...
413,424.jpg,14082023,VF SERVICES MAURITIUS PTE LTD,NPR Three Thousand Seven Hundred Eighty Seven ...,NPR *****3787.00,0922400524001,0000119673,A/C Payee
414,425.jpg,15082023,Maa Annapurna Transport Agency (Nepal) Pvt Ltd.,Rs. seven lakh only/-,Rs.700000,34401010000699,0066192511,A/C Payee
415,426.jpg,31042080,Lake District Crafts Traders and Exporters,Fourty one thousand six hundred seventy rupees...,41672/-,30701010000304,0061489531,A/C Payee
416,427.jpg,31042080,Sunstone Group of Business and Service Pvt. Ltd,Eighty two thousand nine hunderednd fourty two...,"82,942/-",04701010000345,0036270205,A/C Payee
417,428.jpg,29042080,Saurabh Photo international,One lakh only.,"1,00,000/-",32201010000165,0064835739,A/C Payee

In [43]:
create_sets(df_data)

       image      date                                payee  \
0     65.jpg   9082023                  Chaut Ram Chaudhary
1     64.jpg  11082023        VF SERVICES MAURITIUS PTE LTD
2     94.jpg  31042080               Girendra Bahadur Magar
3    288.jpg  22042080                      Binarma Neupane
4    338.jpg  30042080                       Naresh Bashyal
..       ...       ...                                  ...
413  243.jpg  31042080          Unique Trade Link PVT. LTD.
414  297.jpg  31042080                Metal Store Pvt. ltd.
415  123.jpg  12042080  Milky way share broker company ltd.
416  114.jpg  32042080              I.P. logistics Pvt LTD.
417  153.jpg  30042080                    Ram Chandra Baral

                                                   sum            amount  \
0                                       Five Lakh only         5,00000/-
1    NRP Three Thousand Seven Hundren Eighty Seven ...  NRP *****3787.00
2    Three lakhs ninety two thousand six hundred an...         392,677/-
3    Twenty two thousand three hundred seventy two ...          22,372/-
4                              Sixty one thousand only          61000 /-
..                                                 ...               ...
413  Ninety six thousand seven hun-dred Eighty four...           96784/-
414                        thirty thousand rupees only          30,000/-
415                                    five Lakh only.          500000/-
416                                     Six Lakh only.          600000/-
417                           Thirty two thousand only           32000/-

      account_number        micr  A/C Payee
0      2107010007252  0045753427  A/C Payee
1      1952400524001  0000132374  A/C Payee
2     00801010000100  0063073455  A/C Payee
3     32101010000551  0064499934  A/C Payee
4     25307010001027  0058960273  A/C Payee
..               ...         ...        ...
413    0301010000256  0066391697  A/C Payee
414  035700220077524  0050939105  A/C Payee
415   10407010032878  0057458430  A/C Payee
416   03801010005920  0063070990  A/C Payee
417   07707010095284  0062504796  A/C Payee

[418 rows x 8 columns]

100%|██████████| 418/418 [00:02<00:00, 142.08it/s]

In [1]:
import os 
count = 0
for file_ in os.listdir("images/"):
    os.rename(os.path.join("images", file_), os.path.join("images", f"{count}.jpg"))
    count += 1